apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-service
  labels:
    app: {{ .Release.Name }}
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
    - name: postgres
      port: {{ .Values.ports.port }}
      targetPort: {{ .Values.ports.port }}
  type: ClusterIP
